* {
    margin: 0;
    padding: 0;
}

html,body {
    height:100%;
    font-family:'Verdana';
    /*background-color: #EEEEEE;*/
}



body {
    color: #444;
    min-width: 650px;
    overflow: hidden;
}



/************ COLORS ************/
/*
    81D8D0 Tiffany Blue
    B8DBFF Light Tiffany Blue
    7E7E80 asset-description (light grey)
    rgba(204, 204, 204, .5) Footer <hr>/Dividers
*/

/************ HEADER ************/
#header {

}


/************ CONTENT ************/
#content {
    width: 100%;  /* (100% - padding-left) if we have sidebar */
    padding-top: 140px;
    /*overflow: auto;*/
    display: table;
    /*height: 700px;*/
    margin-bottom: 300px;
}

/************ FOOTER ************/

#footer{
    clear:both;
    position: relative;
    width: 100%;
    height: 20px;
    color: #7E7E80;
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
}

#footer hr {
    position: relative;
    width: 50%;
    bottom: 10px;
    margin: 0 auto;
    color: 1px auto rgba(204, 204, 204, .5);
}
/************ SEND VIEW ************/

div #sendContent {
    display: block;
    margin: 0 auto;
    width: 650px;
}

div #call-container {
    /*margin: 10px;*/
    margin: 0 auto;
    width: 300px;
    /*height: 300px;*/
    /*float: left;*/
    /*overflow: hidden;*/
}

div #text-container {
    margin: 10px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
}

/************ DIALOG VIEW ************/

.dialog-content {
    margin-bottom: 20px;
}



.input-widget {
    margin-bottom: 15px;
}

.send-button {
    color: rgba(0, 0, 0, .75);
    border-style: none;
}

.send-button:focus,
.send-button:hover,
.send-button:active
{
    outline: none;
}

.hidden-button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor:pointer;
    outline:none;
}

.btn {
    /*border-radius: 0;*/
}

.tiffany-opaque{
    background-color: rgba(129, 216, 208, .2) !important;
    /*background-color: rgba(250, 180, 255, .2) !important;*/
}
.tiffany {
    background-color: #81D8D0;
}
.tiffany-color {
    color: #81D8D0;
}

.nakedLink {
    text-decoration: none;
}

.button-hover:hover{
    box-shadow: 1px -1px 1px #CCC;
}

.inl-blk {
    display: inline-block;
}

.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.turquoise-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 45px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #12ab8d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
}

.turquoise-flat-button:focus,
.turquoise-flat-button:hover,
.turquoise-flat-button:active
{
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
    color: white;
}

.red-flat-button {
    position: relative;
    vertical-align: top;
    width: 75%;
    margin: 0 auto;
    height: 45px;
    padding: 0;
    font-size: 22px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #e74c3c;
    border: 0;
    border-bottom: 2px solid #db4334;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #db4334;
    box-shadow: inset 0 -2px #db4334;
}

.red-flat-button:focus,
.red-flat-button:hover,
.red-flat-button:active
{
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
}

.center {
    text-align: center;
}