<div id="minimalContent">
    <p class="name-line">timothy stowell</p>
    <p class="profession-line">software developer</p>
    <br>
    <br>
    <p class="interest-line">i like <span class="tiffany-font">tiffany blue</span>.</p>
    <p class="interest-line">i love <span class="tiffany-font">python</span>.</p>
    <br>
    <br>
    <p class="hire-line">you can <a href="" class="tiffany-font">hire me</a>.</p>
    <br>
    <br>
    <a href="http://github.com/trstowell"><i class="fa fa-github contact-icon tiffany-font"></i></a>
    <a href="http://twitter.com/trstowell"><i class="fa fa-twitter contact-icon tiffany-font"></i></a>
    <a href="http://www.linkedin.com/profile/view?id=247817099&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin contact-icon tiffany-font"></i></a>
    <a href="mailto:trstowell@gmail.com"><i class="fa fa-envelope contact-icon tiffany-font"></i></a>
</div>