<div id="sendContent" ng-controller="SendController">

    <!--<div id="call-container" class="well inl-blk">-->
    <div id="call-container" class="well">
        <h4>Where the fuck is it?!</h4>
        <br>
        <form name="callForm" ng-submit="call()">
            <div class="input-group input-widget">
                <span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>
                <input ng-model="callData.to" name="toNumber" class="form-control" type="text" placeholder="Phone #" minlength="10" maxlength="10" required autofocus>
            </div>
            <input type="submit" value="Call" class="btn send-button tiffany btn-block input-widget">
        </form>
    </div>



    <!--<div id="text-container" class="well inl-blk">-->
        <!--<h4>Text</h4>-->
        <!--<form name="textForm" ng-submit="call()">-->
            <!--<div class="input-group input-widget">-->
                <!--<span class="input-group-addon"><i class="fa fa-phone fa-fw"></i></span>-->
                <!--<input ng-model="textData.toNumber" class="form-control" type="text" placeholder="Phone #" minlength="10" maxlength="10" required>-->
            <!--</div>-->
            <!--<input type="submit" value="Send" class="btn send-button tiffany btn-block input-widget">-->
        <!--</form>-->
    <!--</div>-->
</div>