<html ng-app="wherethefuckisit" ng-controller="MainController">

<head lang="en">
    <meta charset="UTF-8">
    <title>WTF Is It  ?!</title>
    <base href="/index.html"></base>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- LOAD EXTERNAL STYLESHEETS & SCRIPTS -->
    <!-- We use AngularJS, Angular-UI-Bootstrap (Bootstrap written in pure Angular), and Bootstrap CSS -->

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/ngDialog-theme-default.min.css" rel="stylesheet">
    <link href="../static/css/ngDialog-theme-plain.min.css" rel="stylesheet">
    <link href="../static/css/ngDialog.min.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet" >
    <link href="../static/css/font-awesome-animation.min.css" rel="stylesheet" >

    <script src="../static/lib/angular/index.js"></script>
    <script src="../static/lib/ngDialog/index.js"></script>
    <script src="../static/lib/angular-route/index.js"></script>
    <script src="../static/lib/angular-ui-bootstrap/index.js"></script>
    <script src="../static/js/main.js"></script>

</head>

<body class="no-select">
    <div id="page-container">
        <div id="header"></div>
        <div id="content">
            <ng-view>
                        <!-- Here is where our partial HTML files will be injected -->
            </ng-view>
        </div>
        <div id="footer">
                <hr/>
                <span class="center-text">Created by Timothy Stowell </span>
        </div><!--footer-->
    </div><!--page-container-->
</body>

</html>